@font-face {
    font-family: 'nobilemedium';
    src: font_url('nobile-medium-webfont.woff2') format('woff2'),
         font_url('nobile-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}